@import 'null';
@import 'variables';

/* Code navigation */

/* -------------------------------------------------------------------- */
/* preloader */
/* toUp */

/* 1. Header */
/* ├── Header fixed */
/* 2. Preview */
/* 3. Why you choose us */
/* 4. About hotel gallery */
/* 5. Reviwes */
/* 6. Notify */
/* 7. Footer */
/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1600 );

/* general media */

@media screen and (max-width: 580px) {

    .btn {
        padding: 10px 20px;
    }
}

/* START */

.plug-active {
    width: 100%;
    height: 185px;
}

body {
    font-family: 'Gelasio', serif;
    background: #eeeded;
    overflow: hidden;
}

.lock-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1000%;
        top: 0;
        left: 0;
        z-index: 10;
        transition: .4s;
        background: rgba(0, 0, 0, 0.438);
    }
}

.unlock-scroll {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* preloader */

#preloader {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeeded;
    transition: .3s;
    z-index: 100;

    #loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.hide-preloader {
    animation: hidePreloader 1s;
}

.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* toUp */

.toUp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 0;
    height: 0;
    border-radius: 50%;
    z-index: 50;
    opacity: 0;
    transition: .4s;
    background-color: #1b75bb;

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.show {
    display: block;
    width: 70px;
    height: 70px;
    opacity: 1;

    span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
        transform: rotate(90deg);

        &::before,
        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 2px;
            background-color: #fff;
        }

        &::before {
            transform-origin: bottom left;
            transform: rotate(45deg);
        }

        &::after {
            transform-origin: -2px 0;
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: 570px) {

    .show {
        display: block;
        width: 60px;
        height: 60px;
        opacity: 1;

        span {
            width: 25px;

            &::before,
            &::after {
                width: 13px;
            }
        }
    }
}

/* 1. Header */

.header {
    background: url(../../img/header__bg.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;

    .container {
        position: relative;
    }

    &__top {
        margin: 0 0 78px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__body {

        .btn {
            margin: 0 0 97px 0;
        }
    }

    &__card {
        position: absolute;
        left: -20px;
        bottom: -55px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.21);
        backdrop-filter: blur(70px);
        border-radius: 10px;

        .wrapper__inner {
            display: flex;
            padding: 0 49px;
        }
    }

    .burger {
        display: none;

        &__btn {
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 2px solid #1b75bb;
            transform: scale(-1, 1);
            z-index: 20;
        }

        &__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 2px;
            background-color: #1b75bb;
            transform: translate(-50%, -50%);

            &::before,
            &::after {
                content: '';
                display: block;
                width: 25px;
                height: 2px;
                transition: .3s;
                background-color: #1b75bb;
            }

            &::before {
                transform: translateY(-8px);
            }

            &::after {
                transform: translateY(6px);
            }
        }

        &__active {

            .burger__icon {
                background-color: #1b75bb;

                &::before {
                    width: 13px;
                    transform: rotate(-45deg);
                    transform-origin: left bottom;
                    background-color: #1b75bb;
                }

                &::after {
                    width: 13px;
                    transform: rotate(45deg);
                    transform-origin: 2px 0px;
                    background-color: #1b75bb;
                }
            }

            .burger__window {
                right: -25%;
            }

            .burger--nav {
                opacity: 1;
                transition: .4s;
                transition-duration: 2s;
            }

            .burger__list {
                opacity: 0.9;
                transition: .4s;
                transition-duration: 2s;
            }

            .burger__networks {
                opacity: 1;
                transition: .4s;
                transition-duration: 2s;
            }
        }

        &__window {
            position: fixed;
            width: 100%;
            height: 120%;
            top: 0;
            right: -100%;
            background-color: #E5E5E5;
            transition: .4s;
            z-index: 15;
        }

        &__list {
            margin: 100px 0 0 35px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            opacity: 0;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;

            a {
                margin: 0 0 30px 0;
                @include adaptive-font(17, 15);
                transition: .4s;

                &:hover {
                    @include adaptive-font(19, 15);
                }
            }
        }

        &__networks {
            margin: 50px 0 0 35px;
            opacity: 0;

            img {
                width: 25px;
                height: 25px;
            }
        }

        &--nav {
            margin: 40px 0 0 35px;
            opacity: 0;
        }
    }

    @media screen and (max-width: 870px) {

        .burger {
            display: block;
        }

        .nav, .btn--nav {
            display: none;
        }
    }

    @media screen and (max-width: 800px) {

        &__card {
            display: none;
        }
    }

    @media screen and (max-width: 400px) {

        .burger {

            &__icon {
                width: 20px;

                &::before,
                &::after {
                    width: 20px;
                }

                &::before {
                    transform: translateY(-6px);
                }

                &::after {
                    transform: translateY(4px);
                }
            }

            &__active {

                .burger__icon {

                    &::before {
                        width: 11px;
                    }

                    &::after {
                        width: 11px;
                    }
                }
            }
       
            &__btn {
                width: 38px;
                height: 38px;
            }

            &--nav {
                margin: 40px 0 0 20px;
            }

            &__list {
                margin: 100px 0 0 20px;
            }

            &__networks {
                margin: 50px 0 0 20px;
            }

            .networks__links {

                a {
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}

/* Header fixed */

.header-fixed {

    .header__top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 20;
        padding: 0 20px;
        box-shadow: 0px 1px 10px #000;
        background-color: #eeeded;
    }
}

.card {

    &__block {
        padding: 24px 0;
        display: flex;
        align-items: center;
    }

    &__item {
        font-family: 'Roboto', sans-serif;

        h3 {
            @include adaptive-font(16, 13);
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            color: #081F32;
        }

        p {
            @include adaptive-font(16, 13);
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #081F32;
            opacity: 0.8;
        }

        &:last-child {
            margin: 0 60px 0 0;
        }
    }

    &__strip {
        margin: 0 20px;
        width: 34px;
        height: 1px;
        transform: rotate(90deg);
        background-color: #9DACB8;
    }
}

.nav {
    margin: 0 0 0 128px;

    &__link {
        margin: 0 40px 0 0;
        color: #081F32;

        &:first-child {
            color: #1B75BB;
        }

        &:last-child {
            margin: 0;
        }
    }
}

.btn {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;
    background-color: #1B75BB;

    &--nav {
        font-family: 'Gelasio', sans-serif;
        @include adaptive-font(16, 13);
        font-weight: 500;
        line-height: 24px;
    }
}

.title--blue {
    color: #1B75BB;
}

.signature {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 15px 0;
    color: #1B75BB;
    opacity: 0.8;
    font-weight: 500;
    @include adaptive-font(20, 16);
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.title {
    margin: 0 0 25px 0;
    font-weight: 600;
    @include adaptive-font(57, 28);
    line-height: 120%;
    color: #081F32;
}

.text {
    @include adaptive-font(18, 14);
    margin: 0 0 30px 0;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

/* 2. Preview */

.preview {
    margin: 250px 0 254px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__video {
        position: relative;
        left: -7%;
        z-index: 10;
    }

    .video {
        max-width: 630px;
        object-fit: cover;
        cursor: pointer;
    }

    &__background {

        .main__bg {
            position: absolute;
            top: -57px;
            right: -57px;
            z-index: -10;
        }

        .secondary__bg {
            position: absolute;
            bottom: -86px;
            left: -86px;
            opacity: 0.7;
            z-index: -10;
        }
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        @include adaptive-font(20,16);
        margin: 0 0 15px 0;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1B75BB;
    }

    &__text {
        @include adaptive-font(32, 20);
        margin: 0 0 30px 0;
        font-style: normal;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
    }

    @media screen and (max-width: 1280px) {

        &__wrapper {
            flex-direction: column;
            left: 5%;
        }
        
        &__video {
            margin-left: auto;
            margin-right: 30px;

            .main__bg {
                top: -47px;
                right: -47px;
            }

            .secondary__bg {
                display: none;    
            }
        }

        &__info {
            margin: 50px 0 0 0;
        }
    }

    @media screen and (max-width: 1100px) {
        margin: 200px 0 150px 0;
    }

    @media screen and (max-width: 1000px) {
        margin: 190px 0 140px 0;
        
        .video {
            max-width: 530px;
            max-height: 273px;
        }
    }

    @media screen and (max-width: 800px) {
        margin: 190px 0 140px 0;
    }

    @media screen and (max-width: 700px) {
        
        .video {
            max-width: 430px;
            max-height: 221px;
        }

        .main__bg {
            width: 380px;
            height: 196px;

            img {
                width: 380px;
                height: 196px;
            }
        }

        &__title {
            margin: 0 0 8px 0;
        }

        &__text {
            margin: 0 0 15px 0;
            line-height: 40px;
        }
    }

    @media screen and (max-width: 580px) {
        margin: 150px 0 100px 0;
        
        .video {
            width: 380px;
            height: 196px;
        }

        .main__bg {
            width: 330px;
            height: 170px;
            top: -27px;
            right: -27px;

            img {
                width: 330px;
                height: 170px;
            }
        }
    }

    @media screen and (max-width: 450px) {
        margin: 130px 0 80px 0;

        .video {
            width: 330px;
            height: 170px;
        }

        .main__bg {
            width: 270px;
            height: 139px;
            top: -27px;
            right: -27px;

            img {
                width: 270px;
                height: 139px;
            }
        }
    }

    @media screen and (max-width: 400px) {

        .video {
            width: 300px;
            height: 154px;
        }

        .main__bg {
            width: 240px;
            height: 123px;
            top: -27px;
            right: -27px;

            img {
                width: 240px;
                height: 123px;
            }
        }
    }

    @media screen and (max-width: 360px) {

        .video {
            width: 280px;
            height: 144px;
        }

        .main__bg {
            width: 230px;
            height: 118px;
            top: -17px;
            right: -17px;

            img {
                width: 230px;
                height: 118px;
            }
        }
    }
}


/* 3. Why you choose us */

.choose {

    &__header {
        margin: 0 0 60px 0;
        text-align: center;
    }

    &__title {
        @include adaptive-font(32, 20);
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        max-width: 819px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        justify-content: space-between;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        margin: 0 30px 0 0;
        padding: 21px 17px 17.60px;
        max-width: 262px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
        border-radius: 5px;
    }

    &__img {
        margin: 0 0 40px 0;
    }

    &__info {

        .title {
            margin: 0 0 15px 0;
        }

        .text {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;
        }

        .size--24 {
            @include adaptive-font(24, 18);
        }

        .text--width {
            max-width: 228px;
        }
    }

    @media screen and (min-width: 1180px) {

        &__item {

            .choose__info {

                h3 {
                    font-size: 22px;
                }
    
                p {
                    font-size: 16.6px;
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {

        &__body {
            display: block;

            &-wrapper {
                justify-content: center;
            }
        }

        &__item {
            margin-right: 0;
        }

        .first-wrapper {
            margin: 0 0 30px 0;
        }

        .first-item {
            margin: 0 30px 0 0;
        }
    }

    @media screen and (max-width: 508px) {

        &__body {
            display: block;

            &-wrapper {
                display: block;

                .choose__item {
                    margin: 30px auto;
                }
            }
        }
    }
}

/* 4. About hotel gallery */

.rooms {
    margin: 140px 0 0 0;

    &__item {
        position: relative;
        width: 100%;
        height: auto;

        &:nth-child(odd) {
            margin: 0 30px 0 0;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 0 30px 0;

        &:last-child {
            margin: 0;
        }
    }

    &__img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    &__info {
        padding: 23px 28px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(226, 226, 226, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }

    &__type {
        margin: 0 25px 0 0;
        @include adaptive-font(18, 14);
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    &__price {
        font-family: 'Roboto', sans-serif;
        @include adaptive-font(14, 12);
        font-weight: 500;
        line-height: 22px;

        span {
            @include adaptive-font(12, 10);
            font-weight: 400;
            line-height: 19px;
        }
    }

    &__wrapper-inner {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    &__btn {
        @include adaptive-font(14, 11);
        font-family: 'Gelasio', serif;
        padding: 10px 20px;
        line-height: 21px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 50%;
    }

    .title {
        @include adaptive-font(32, 20);
    }

    .text {
        font-family: 'Roboto', sans-serif;
        max-width: 439px;
    }

    @media screen and (max-width: 1000px) {

        &__info {
            padding: 16px 23px;
        }

        &__btn {
            padding: 7px 15px;
        }
    }

    @media screen and (max-width: 900px) {

        &__wrapper {
            display: block;
            margin-bottom: 0;

            .rooms__item {
                margin: 0 auto 50px;
                width: 554px;
                height: auto;
            }
        }
    }

    @media screen and (max-width: 620px) {

        &__wrapper {

            .rooms__item {
                width: 100%;
                height: auto;
            }
        }

        &__type {
            margin: 0 15px 0 0;
        }

        &__info {
            padding: 12px 19px;
        }
    }

    @media screen and (max-width: 400px) {

        &__wrapper {

            &-inner {
                margin: 0 0 5px 0;
            }

            .rooms__item {
                width: 100%;
                height: auto;
            }
        }

        &__info {
            padding: 10px 15px;
        }

        &__btn {
            padding: 7px 15px;
        }
    }
}

/* 5. Reviwes */

.reviwes {
    margin: 140px 0 0 0;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 60px 0;
    }

    &__title {
        @include adaptive-font(32, 20);
        font-weight: 500;
        line-height: 45px;
        margin-bottom: 0;
    }

    .slide {
        max-width: 360px;
        margin: 15px 0;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
            margin-right: 0;
        }

        &__wrapper {
            padding: 28px 40px;
            opacity: 0.6;
        }

        &__quotes {
            width: 24px;
            height: 20px;
            background: url('../../img/quotes.png') no-repeat;

            img {
                height: 20px;
            }
        }
    
        &__img {

            img {
                margin: 0 auto;
            }
        }
    
        &__rew-text {
            display: inline;
            font-family: 'Roboto', sans-serif;
            @include adaptive-font(18, 14);
            font-weight: 400;
            line-height: 29px;
            text-align: center;
            margin: 0 0 29px 0;

            p {
                display: inline;
            }
        }
    
        &__rew-info {
            margin: 30px 0 0 0;

            h3 {
                @include adaptive-font(20, 16);
                font-weight: 500;
                line-height: 30px;
                margin: 0 0 5px 0;
            }

            p {
                font-family: 'Roboto', sans-serif;
                @include adaptive-font(14, 12);
                font-weight: 400;
                line-height: 22px;
            }
        }
    }

    @media screen and (max-width: 1045px) {
        
        .slide__wrapper {
            padding: 28px 20px;
        }
    }

    @media screen and (min-width: 1299px) {

        .slide__rew-text {
            font-size: 17.05px;
        }
    }

    @media screen and (max-width: 805px) {
        
        .slick-slide {

            .slide {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }

    @media screen and (max-width: 804px) {

        &__header {
            max-width: 554px;
            margin: 0 auto 60px;
        }
    }
}

/* 5.1 Slick slider */

.slick-slider.slick-initialized {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    padding: 0;
}

.slick-slide {
    margin: 0 15px;
}

.slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.slick-slide.slick-center {

    .slide {
        transition: .6s;
        box-shadow: 0px 4px 30px 0px rgba(199, 199, 199, 0.45);
    }

    .slide__wrapper {
        opacity: 1;
    }

    .slide__quotes {
        background: url('../../img/quotes__active.png')
    }
}

.slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 20px;
    height: 20px;
}

.slick-arrow.slick-prev {
    left: -40px;
    border-top: 3px solid rgba(0, 0, 0, 0.438);
    border-left: 3px solid rgba(0, 0, 0, 0.438);
    transform: rotate(-45deg);
    background: #eeeded;
}

.slick-arrow.slick-next {
    right: -40px;
    border-top: 3px solid rgba(0, 0, 0, 0.438);
    border-right: 3px solid rgba(0, 0, 0, 0.438);
    transform: rotate(45deg);
    background: #eeeded;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;

    li {
        margin: 0 15px 0 0;

        button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #9DACB8;
            font-size: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.slick-active {
            
            button {
                background-color: #1b75bb;
            }
        }
    }
}

/* 6. Notify */

.notify {
    margin: 140px 0 0 0;

    &__header {
        text-align: center;
    }

    &__title {
        @include adaptive-font(32, 20);
        margin: 0 0 50px 0;
        font-weight: 500;
        line-height: 45px;
    }

    &__input {
        padding: 18.5px 0 18.5px 30px;
    }

    &__body {
        text-align: center;
    }

    @media screen and (max-width: 804px) {

        &__header {
            max-width: 554px;
            margin: 0 auto 60px;
        }
    }

    @media screen and (max-width: 510px) {

        &__btn {
            padding: 15px 30px;
        }
    }

    @media screen and (max-width: 444px) {

        &__btn {
            padding: 15px 25px;
        }

        input::-webkit-input-placeholder {
            font-size: 13px;
        }

        input:-moz-placeholder {
            font-size: 13px;
        }

        input:-o-placeholder {
            font-size: 13px;
        }
        
        input:-khtml-placeholder {
            font-size: 13px;
        }
    
        input:placeholder {
            font-size: 13px;
        }
    }

    @media screen and (max-width: 390px) {

        &__input {
            padding: 18.5px 0 18.5px 20px;
        }

        &__btn {
            font-size: 12px;
            padding: 15px 15px;
        }
    }

    @media screen and (max-width: 378px) {

        &__title {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 360px) {

        &__input {
            padding: 18.5px 0 18.5px 10px;
        }
    }

    @media screen and (max-width: 335px) {

        &__title {
            font-size: 17px;
        }
    }
}

.secondary--title {
    font-family: 'Roboto', sans-serif;
    @include adaptive-font(20, 16);
    margin: 0 0 20px 0;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.form {
    max-width: 569px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        width: 100%;
        padding: 18.5px 0 18.5px 30px;
        border-radius: 5px;

        &::-webkit-input-placeholder {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }

	    &::-moz-placeholder {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }

	    &::-ms-input-placeholder {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }
    }

    &__btn {
        position: relative;
        right: 8px;
        font-family: 'Poppins', sans-serif;
        padding: 15px 40px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #fff;
        border-radius: 5px;
        background-color: #1B75BB;
    }
}

/* 7. Footer */

.footer {
    margin: 140px 0 0 0;
    padding: 0 0 80px 0;

    .container {
        max-width: 1185px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__form {
        margin: 30px 0 0 0;
    }

    &__input {
        padding-right: 98px;
    }

    &__column {

        h4 {
            font-family: 'Poppins', sans-serif;
            @include adaptive-font(20, 16);
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }

    &__logo {

        p {
            font-family: 'Poppins', sans-serif;
            @include adaptive-font(18, 14);
            line-height: 27px;
        }
    }

    &__links {
        margin: 30px 0 0 0;
        opacity: 0.7;

        a {
            display: block;
            font-family: 'Poppins', sans-serif;
            @include adaptive-font(16, 13);
            margin: 0 0 20px 0;
            font-weight: 500;
            line-height: 24px;
            color: #081F32;
        }
    }

    .form {

        &__input {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1100px) {

        &__input {
            padding-right: 50px;
        }
    }

    @media screen and (max-width: 1000px) {

        &__input {
            padding: 18.5px 0 18.5px 20px;
        }

        &__btn {
            padding: 15px 20px;
        }

        input::-webkit-input-placeholder {
            font-size: 13px;
        }

        input:-moz-placeholder {
            font-size: 13px;
        }

        input:-o-placeholder {
            font-size: 13px;
        }
        
        input:-khtml-placeholder {
            font-size: 13px;
        }
    
        input:placeholder {
            font-size: 13px;
        }
    }

    @media screen and (max-width: 900px) {

        &__wrapper {
            justify-content: space-around;
        }

        .last-column {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {

        &__logo {

            img {
                width: 134px;
                height: 48px;
            }

            p {
                font-size: 12.5px;
            }
        }

        &__networks {

            .networks__email {
                margin-top: 15px;
                font-size: 12.5px;
            } 
        }
    }

    @media screen and (max-width: 450px) {

        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        &__links a {
            font-size: 17px;
        }

        &__column {

            h4 {
                font-size: 20px;
            }
        }

        &__logo p {
            font-size: 16.7px;
        }

        .first-column {
            width: 100%;
            margin: 0 0 40px 0;
        }
    }

    @media screen and (max-width: 360px) {

        &__links a {
            font-size: 15px;
        }
    }
}

.networks {

    &__email {
        font-family: 'Poppins', sans-serif;
        margin: 30px 0 15px 0;
        @include adaptive-font(16, 13);
        line-height: 26px;
        letter-spacing: 0.06em;

        a {
            color: #081F32;
        }
    }

    &__links {

        a {
            margin: 0 25px 0 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* example.page */

.example-wrapper {
    width: 100%;
    height: 100%;
    background: #eeeded;

    h1 {
        @include adaptive-font(50, 24);
        font-weight: 600;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    span {
        color: #1b75bb;
    }
}