@import 'null';
@import 'variables';

/* Code navigation */

/* -------------------------------------------------------------------- */
/* 1. Header */
/* 2. Preview */
/* 3. Why you choose us */
/* 4. About hotel gallery */
/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1600 );

/* START */

body {
    font-family: 'Gelasio', serif;
    background: #E5E5E5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 1. Header */

.header {
    background: url(../../img/header__bg.jpg) no-repeat;
    background-position-x: center;

    .container {
        position: relative;
    }

    &__top {
        margin: 0 0 78px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__body {

        .btn {
            margin: 0 0 97px 0;
        }
    }

    &__card {
        position: absolute;
        left: -20px;
        bottom: -55px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.21);
        backdrop-filter: blur(70px);
        border-radius: 10px;

        .wrapper__inner {
            display: flex;
            padding: 0 49px;
        }
    }
}

.card {

    &__block {
        padding: 24px 0;
        display: flex;
        align-items: center;
    }

    &__item {
        font-family: 'Roboto', sans-serif;

        h3 {
            @include adaptive-font(16, 13);
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            color: #081F32;
        }

        p {
            @include adaptive-font(16, 13);
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #081F32;
            opacity: 0.8;
        }

        &:last-child {
            margin: 0 60px 0 0;
        }
    }

    &__strip {
        margin: 0 20px;
        width: 34px;
        height: 1px;
        transform: rotate(90deg);
        background-color: #9DACB8;
    }
}

.nav {
    margin: 0 0 0 128px;

    &__link {
        margin: 0 40px 0 0;
        color: #081F32;

        &:first-child {
            color: #1B75BB;
        }

        &:last-child {
            margin: 0;
        }
    }
}

.btn {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;
    background-color: #1B75BB;

    &--nav {
        font-family: 'Gelasio', sans-serif;
        @include adaptive-font(16, 13);
        font-weight: 500;
        line-height: 24px;
    }
}

.title--blue {
    color: #1B75BB;
}

.signature {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 15px 0;
    color: #1B75BB;
    opacity: 0.8;
    font-weight: 500;
    @include adaptive-font(20, 16);
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.title {
    margin: 0 0 25px 0;
    font-weight: 600;
    @include adaptive-font(57, 40);
    line-height: 120%;
    color: #081F32;
}

.text {
    @include adaptive-font(18, 14);
    margin: 0 0 30px 0;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

/* 2. Preview */

.preview {
    margin: 200px 0 0 0;

    .container {
        position: relative;

        .preview__wrapper {
            display: flex;
            align-items: center;
        }
    }

    &__video {
        position: relative;
        margin: 0 98px 0 0;

        .background-img {
            position: relative;

            img {
                margin: 0 0 0 97px;
            }

            .video {
                position: absolute;
                top: 43px;
                right: 43px;
                z-index: 10;
            }
        }

        .bg__square {
            position: absolute;
            top: 200px;
            left: -200px;
            opacity: 0.5;
        }
    }

    &__title {
        @include adaptive-font(32, 20);
    }

    .video {

        &__wrapper {
            position: relative;

            .video__main {
                width: 625px;
                height: 325px;
                object-fit: cover;
            }

            .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #FFFFFF;
            }

            .triangle {
                position: absolute;
                top: 50%;
                left: 70%;
                transform: translate(-70%, -50%);
                border: 20px solid transparent;
                border-left: 20px solid #1B75BB;
            }
        }
    }
}

/* 3. Why you choose us */

.choose {
    margin: 254px 0 0 0;

    &__header {
        margin: 0 0 60px 0;
        text-align: center;
    }

    &__title {
        @include adaptive-font(32, 20);
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        max-width: 819px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding: 21px 17px 17.60px;
        max-width: 262px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
        border-radius: 5px;
    }

    &__img {
        margin: 0 0 40px 0;
    }

    &__info {

        .title {
            margin: 0 0 15px 0;
        }

        .text {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;
        }

        .size--24 {
            @include adaptive-font(24, 18);
        }

        .text--width {
            max-width: 228px;
        }
    }
}

/* 4. About hotel gallery */

.rooms {
    margin: 140px 0 0 0;;

    &__item {
        position: relative;
        width: 100%;
        height: auto;

        &:nth-child(odd) {
            margin: 0 30px 0 0;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 0 30px 0;

        &:last-child {
            margin: 0;
        }
    }

    &__img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    &__preview {
    }

    &__preview-wrapper {
    }

    &__info {
        padding: 23px 28px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(226, 226, 226, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }

    &__type {
        margin: 0 25px 0 0;
        @include adaptive-font(18, 14);
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    &__price {
        font-family: 'Roboto', sans-serif;
        @include adaptive-font(14, 12);
        font-weight: 500;
        line-height: 22px;

        span {
            @include adaptive-font(12, 10);
            font-weight: 400;
            line-height: 19px;
        }
    }

    &__wrapper-inner {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    &__btn {
        @include adaptive-font(14, 11);
        font-family: 'Gelasio', serif;
        padding: 10px 20px;
        line-height: 21px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 50%
    }

    .title {
        @include adaptive-font(32, 20);
    }

    .text {
        font-family: 'Roboto', sans-serif;
        max-width: 439px;
    }
}
